<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Login Page </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='access.css') }}">
</head>
<body>
    <center> <h1 class="code-heading">Access File via. Hashcode</h1> </center>
    <center><button onclick="location.href = '/upload'">Upload</button></center>
    <center><button onclick="location.href = '/acc'">Access</button></center>
</body>
</html>