<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='access.css') }}">

    <style>
        table, th, td{
            border: 2px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
    <table >
        <tr>
            <th>File Name</th>
            <th>File Hash</th>
            <th>File MimeType</th>
        </tr>

        {% for ele in lst %}
        <tr>
            <td><a href = "/getFile/{{ele[1]}}">{{ele[0]}}</a></td>
            <td>{{ele[1]}}</td>
            <td>{{ele[2]}}</td>
        </tr>
        {% endfor %}
    </table>

    <button type="button" onclick="location.href = '/'">Home</button>
</body>
</html>