<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image to IPFS</title>
</head>
<body>
    <h1>Upload an Image to IPFS</h1>
    <form action="/uploadmeth" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>

    <button style="background-color:#DFA878; padding:10px; margin-top:10px" type="button" onclick="location.href = '/'">Home</button>
</body>
</html>
